.tong{
    display: flex;
    justify-content: center;
    margin: 200px 0;

    .trai{
        padding: 15px;
    }

    .phai{
        background-color: #fff;
        padding: 15px;
        margin-left: 20px;
    }
}