.root-info{
    padding: 10px;
    text-align: left;
    .name-info{

    }
    .description-info{
        padding: 15px 0 0 20px;
    }
    .priceBox-info{
        font-weight: 500;
        font-size: x-large;
        margin: 20px 0 0 20px;

    }
    .salePrice-info{
        margin-left: 10px;
        color: red;
    }
}