.container{
    margin-top: 40px;
    .paper-info{
        padding: 10px;
        background-color: #f9f1f1;
    }
}

.order-left{

}
.order-right{

}
.order-left{
    .lable-info{
        display: flex;
        .lable-info_name{ 
            width: 30%;
            text-align: start;
        }
     }
}