.root{
    .container{
        .framedescrip{
            padding: 40px;
            .left{
                width: 250px,
            }
            .right{
                .pagination{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    margin: 25px 0;
                    padding-bottom: 10px;
                    
                }
                flex: 1 1 0, //chiếm hết độ rộng thằng cha
            }
        }
    }
    .slide-page{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}