.my-cart{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .my-cart_icon{
        font-size: 50px;
    }
    .my-cart_title{
        margin-left: 5px;
        font-weight: bold;
        font-size: 40px;

    }
}
.cart-form{
    margin: 50px 0;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

    .lable-table{
        font-weight: bold;
        
    }
    .totalcart{
        display: flex;
        justify-content: end;
        font-weight: bold;
        margin: 20px;
    }
    .cart-right{
        padding: 30px;
        .cart-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: hwb(0 47% 53%);
            .cart-info_price{
                margin: 20px 0;
            }
        }
        .cart-info-total{
            display: flex;
            justify-content: space-between;
            font-weight: bold;
        }
        .cart-checkout{
            margin-top: 20px;
        }
        .checkout-link {
            text-decoration: none;
            color: white;
          }
          
    }
    .quantity-cart{
        .quantity-cart--TextField input {
            width: 100px;
            text-align: center;
        }

        .quantity-cart--selecBtn{
            // display: flex;
            // align-items: center;
            margin: 10px;
        }

        .form-cart-qty{
            display: flex;
        }
    }

}
.cartmini{
    .miniCart-left{
        .miniCart-img{
            width: 50px;
        }

    }
    .miniCart-right{
        display: block;
        width: 100%;
        .miniCart-right--name{
            display: block;
            white-space: nowrap; /* Ngăn chặn xuống dòng nội dung */
            overflow: hidden; /* Ẩn nội dung vượt quá khung */
            text-overflow: ellipsis;
        }
        .miniCart-right-info{
            display: flex;
            justify-content: end;
            .miniCart-right--qty{
                margin-right: 10px;
            }
            .miniCart-right--price{
    
            }
        }
    }
}
