.navbar{

    .iconHome{
        cursor: pointer;
    }
    display: flex;
    justify-content: space-between;
    background-color: rgb(243 239 255);
    color: #000;
    
    .nav-btn{
        font-weight: bold;
    }
    .search{
        display: flex;
        align-items: center;

        .search-input{
            width: 80%;
        }
        .search-input div{
            border-radius: 12px 0 0 0;

        }
        .search-btn{
            background-color: rgb(110, 110, 110);
            border-radius: 0 0 12px 0;
            height: 40px;
            color: #fff;
        }
    }
    .login{
        font-weight: bold;
    }
    .header-right--icon{
        display: flex;
        align-items: center;
    }
}

.closeButton{
    width: 40px;
    align-self: flex-end;
}
