.icon-regis{
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar{
        background-color: red;
    }
    .title{

    }
}
.progress{
    z-index: 1;
    width: 100%;
}