.container{
    padding: 50px 0;
    .myaccount-left{
        .myaccount-left_avatar{
            display: flex;
            align-items: center;
            .user-avatar{
                display: flex;
                justify-content: center;
                border-radius: 25px;
                align-items: center;
                width: 48px;
                height: 48px;
                overflow: hidden;

                .user-avatar_img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
        .myaccount-left_action{
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            
            .action-user{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 5px;
                .action-user_icon {
                    display: flex;
                    align-items: center;
                  }
                  
                  .action-user_icon a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 5px; /* Có thể điều chỉnh khoảng cách giữa icon và chữ */
                  }
                
            }
            .action-user a{
                padding-top: 5px;
            }
            .child{
                padding-left: 30px;
            }

        }
    }
    .myaccount-right{
        // background-color: #fff;
        // padding: 20px;
    }
}
.myaccount-right_lable{
    text-align: left;
}
.myaccount-right_action{
    .action-left{
        display: flex;
        justify-content: center;
    }
    .action-right{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}
.label-info{
    
    .label-name{
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}
.profile-info{
    padding-left: 30px;
    width: 50%;

    .info{
        padding-bottom: 30px;
        display: flex;

    }
}
.form-senmail{
    display: flex;
    justify-content: center;
    .form-senmail_paper{
        position: relative;
        width: 470px;
        height: 372px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}