.above-ft{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.footer-info{
    display: flex;
    padding: 20px;
    .footer-info--left{
        padding: 0 50px;
        .form-text p{
            font-size: 15px;
            color: rgb(135 135 135);
            margin: 5px 0;
        }
}
    .footer-info--center{
        padding: 0 50px;
        .form-text p{
            font-size: 15px;
            color: rgb(135 135 135);
            margin: 5px 0;
        }

}
    .footer-info--right{
        padding: 0 50px;
        .form-text p{
            font-size: 15px;
            color: rgb(135 135 135);
            margin: 5px 0;
        }
        .text-info{
            display: flex;
            align-items: center;
        }
        .text-info p{
            margin-left: 15px;
        }
}
}
.footer-info_title{
    // color: red;
    font-size: 10px;
    margin-bottom: 50px;
}