.filter-prod{
    padding: 20px;
    margin-top: 10px;
    &_title{
        font-weight: bold;
    }

    &_btn{
        background-color: antiquewhite;
        border: none;
        color: rgb(255, 0, 0);
    }
}

.page-prod {
    .page-prod_image {
      margin-bottom: 8px;
      
    }
    .page-prod_image img {
      max-width: 100%;
      height: auto;
    }
    
    .page-prod_item {
      padding: 0 10px;
      text-align: center;
      margin-bottom: 8px;
      white-space: nowrap; /* Ngăn chặn xuống dòng nội dung */
      overflow: hidden; /* Ẩn nội dung vượt quá khung */
      text-overflow: ellipsis;
    }

    .page-prod_price {
      padding-bottom: 10px;

    }
  }
  .filter-prod{
    padding: 35px;
    margin-top: 10px;
    .filter-prod_title{
      font-weight: bold;
      padding: 10px 0 20px 0;
    }
  }
  
  